@font-face {
    font-family: "Kreon Regular";
    src: url("./assets/Kreon/static/Kreon-Regular.ttf");
  }
  @font-face {
    font-family: "Kreon Regular2";
    src: url("./assets/Kreon/static/Kreon-Bold.ttf");
  }
  body{
    margin: 0;
    font-family:'Kreon Regular2, sans-serif';
  }
 